fastapi
uvicorn
SQLAlchemy
psycopg2-binary
pydantic-settings
python-jose
python-dotenv
# passlib[bcrypt]
# passlib[bcrypt] bcrypt==4.0.1
passlib==1.7.4
bcrypt==4.1.2
python-jose
redis
jinja2
razorpay
jwt
passlib
pydantic[email]
websockets
# "uvicorn[standard]" websockets
qrcode[pil]
Pillow
pyzbar
opencv-python
stripe